:root{
    --body-y: 52px;
    --box-padding:20px;
}
@media (min-width: map-get($grid-breakpoints, "sm")) {
    :root{
        --box-padding:24px;
    }
}
@media (min-width: map-get($grid-breakpoints, "lg")) {
    :root{
        --body-y: 80px;
        --box-padding:28px;
    }
}
@media (min-width: map-get($grid-breakpoints, "xl")) {
    :root{
        --box-padding:32px;
    }
}
@media (min-width: map-get($grid-breakpoints, "xxl")) {
    :root{
         --body-y: 100px;
    }
}

$body-py: var(--body-y) ;
$box-padding: var(--box-padding) ;
$bgc: $gray-50;


@mixin h1{
    color: $primary-900;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 1px;
    text-indent: 1px;
    font-weight: 600;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        font-size: 48px;
    }
    @media (min-width: map-get($grid-breakpoints, "xl")) {
        font-size: 52px;
    }
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        font-size: 56px;
    }
}
@mixin h2{
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 1px;
    text-indent: 1px;
    font-weight: 500;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        font-size: 32px;
    }
    @media (min-width: map-get($grid-breakpoints, "xl")) {
        font-size: 38px;
        font-weight: 600;
    }
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        font-size: 42px;

    }
}
@mixin h3{
    font-size: 22px;
    line-height: 150%;
    font-weight: 500;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        font-size: 28px;
    }
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        font-size: 32px;
    }
}
@mixin h4{
    font-size: 20px;
    line-height: 150%;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        font-size: 22px;
    }
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        font-size: 24px;
    }
}
@mixin h5{
    font-size: 18px;
    line-height: 150%;
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        font-size: 20px;
    }
}
@mixin h6{
    font-size: 16px;
    line-height: 150%;
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        font-size: 18px;
    }
}
@mixin p{
    font-size: 14px;
    line-height: 150%;
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        font-size: 16px;
    }
}
@mixin small{
    font-size: 12px;
    line-height: 150%;
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        font-size: 14px;
    }
}

@mixin card{
    backdrop-filter: blur(100px);
    -moz-backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: $box-shadow-lg;
}

@mixin btn-s {
    padding: 0;
    background: transparent;
    a{
        padding: 16px 16px;
        background: $primary;
        background: linear-gradient(135deg,$primary,$primary-700);
        color: $white;
        border-radius: $border-radius-sm;
        white-space:nowrap;
        display: flex;
        align-items: center;
        line-height:100%;
        @media (min-width: map-get($grid-breakpoints, "lg")) {
            padding: 12px 16px;
        }

        &:hover{
            background: linear-gradient(135deg,$primary-500,$primary-700);

        }
    }
}
@mixin btn-m {
    padding: 0;
    background: transparent;
    a{
        padding: 12px 24px;
        background: linear-gradient(135deg,$primary,$primary-700);
        color: $secondary-400;
        border-radius: $border-radius-lg;
        @include h5;
        font-weight: 500;
    }

}


body{
    color: $gray-900;
    font-family: "Roboto", sans-serif;
    background: $bgc;

}
.row{
    --bs-gutter-x: 2rem;
}
.container, .container-fluid{
    --bs-gutter-x: 2rem;
}

:focus{
    box-shadow: unset;
}

button{
    border: none;
    border-radius: $border-radius-sm;
    user-select: none;

    a{
        padding: 12px 16px;
        white-space:nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        text-indent: 1px;
        background: $primary;
        transition: .25s;
        user-select: none;

        &:active{
            outline: unset;
        }
        &:focus{
            outline: unset;
        }
        &:focus{
            outline: unset;
        }
    }
}
img{
    user-select: none;
    pointer-events: none;
}



i{
    display: flex;
    align-items: center;
}

svg{
    width: 20px;
    height: 20px;
    transition: .25s;
    fill: $gray-600;
}

[role="button"]{
    cursor: pointer;
    user-select: none;
    transition: .25s;
}
.dropdown-toggle::after{
    display: none;
}

a{
    display: block;
    width: unset;
    text-decoration: none;

    &:hover{
        color: unset;
    }
}

h1, .h1{
    @include h1
}

h2, .h2{
   @include h2
}

h3, .h3{
   @include h3
}

h4, .h4{
    @include h4
}

h5, .h5{
    @include h5
}

h6, .h6{
    @include h6
}

p, .p{
    @include p
}

small, .small{
    @include small
}


.c-disabled{
    display: none !important;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.btn-close{
    background:none;
    width: unset;
    height: unset;

    &:focus{
        box-shadow: unset;
    }

}
.offcanvas-header{
    .btn-close{
            margin-right: -4px;
    }
}

.download-group{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    button{
        padding: 0;

    }
}
a.btn-download {
    padding: 6px 12px;
    background-color: $black;
    border-radius: 8px;
    svg{
        height: 36px;
        width: unset;

        .cls-white{
            fill: $white;
        }
    }

    &.download-google{
        svg{
           .cls-2 {
                fill: #f9c200;
            }

            .cls-3 {
                fill: #557abd;
            }

            .cls-4 {
                fill: #07a346;
            }

            .cls-6 {
                fill: #e63c26;
            }
        }
    }
}

.line{
    width: 100%;
    height: 1px;
    background: $gray-200;
    margin: 20px 0 40px;
}

// tooltip
.custom-tooltip {
  --bs-tooltip-bg: rgb(60, 60, 60);
  --bs-tooltip-opacity: 0.95;
  --bs-tooltip-padding-y: 8px;
  --bs-tooltip-padding-x: 8px;
  --bs-tooltip-border-radius: 8px;
}

// 展開收合
.collapse-group{
    margin: 12px 0;
    border-bottom: 1px solid $gray-200;
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4{
            padding: 8px 0;
            font-weight: 600;
        }
    }
    .collapse-btn{
        width: 40px;
        min-width: 40px;
        height: 40px;
        background: unset;
        position: relative;

        > div{
            position: absolute;
            height: 2px;
            width: 16px;
            background: $gray-500;
            top: 50%;
            left: 50%;
            transform:  translate(-50%, -50%);
            transform-origin: center;
            @media (min-width: map-get($grid-breakpoints, "lg")) {
                height: 3px;
                width: 20px;
            }
            &:nth-child(1){
                height: 16px;
                width: 2px;
                @media (min-width: map-get($grid-breakpoints, "lg")) {
                    height: 20px;
                    width: 3px;
                }
            }
        }
        &:hover{
            > div{
                background: $primary-300;
            }
        }
    }
    &.show{
        .collapse-btn{
            > div:nth-child(1){
                opacity: 0;
                // transform:  rotate(90deg) translate(-50%, -50%);
            }
        }
    }
    ul{
        li{
            margin: 8px 0;
        }
    }
}
