section.confirmation-box{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(#000000,  0.4);
    .container{
        height: 100%;
        .row{
            height: 100%;
            padding: 5vh 0;
            justify-content: center;
            @media (min-width: map-get($grid-breakpoints, "lg")) {
                // padding: 40px 0;
            }
        }
    }

    .confirmation-body{
        width: 100%;
        height: 100%;
        max-height: 90vh;
        overflow: auto;
        background-color: #fff;
        padding: 16px 20px 20px 20px;
        border-radius: $border-radius-2xl;
        box-shadow: $box-shadow-lg;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            padding: 24px 30px 30px 30px;
        }

        .box-top{
            > .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                button{
                    background-color: transparent;
                    padding: 12px;
                    position: relative;
                    right: -8px;

                    svg{
                        width: 22px;
                        height: 22px;
                    }
                    &:hover{
                        svg{
                            fill:$primary-400
                        }
                    }
                }
            }
            .order-content{
                display: flex;
                align-items: center;
                padding: 8px 4px 12px 0;
                margin-bottom: 16px;
                border-bottom: 1px solid $gray-200;
                @media (min-width: map-get($grid-breakpoints, "md")) {
                     padding: 4px 8px 12px 0;
                }
                > div{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;
                }
                img{
                    width: 66px;
                    height: 66px;
                    margin-right: 8px;
                    @media (min-width: map-get($grid-breakpoints, "lg")) {
                        width: 100px;
                        height: 100px;
                        margin-right: 16px;
                    }
                }
                h4{
                    @include h5;
                    @media (min-width: map-get($grid-breakpoints, "lg")) {
                        @include h4;
                    }
                    font-weight: 600;
                    &.price{
                        color: $primary;
                        @media (min-width: map-get($grid-breakpoints, "lg")) {
                            @include h4;
                        }
                    }
                }
                .project{
                        color: $gray-700;
                }
            }
        }
        .box-body{
            height: 100vh;
            overflow: auto;
            > div{
                height: 100%;
            }
        }
        .box-bottom{
            form{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding-top: 12px;
                label{
                    display: flex;
                    align-items: center;
                    margin: 16px auto 16px 0;
                    line-height: 140%;
                    input{
                        margin-right: 4px;
                    }
                }
                button{
                    @include h5;
                    padding: 8px 16px;
                    font-weight: 500;
                    width: 100%;
                    opacity: 0.6;
                    @media (min-width: map-get($grid-breakpoints, "md")) {
                        width: unset;
                        padding: 12px 24px;
                    }

                    &.clickable{
                        background-color: $secondary;
                        opacity: 1;
                    }
                }
            }

        }
    }
}