.fraud-section{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 20;
    .fraud-box{
        position: relative;
        width: 100%;
        background-color: rgba($white, 0.92);
        backdrop-filter: blur(20px);
        -moz-backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: $border-radius-xl;
        box-shadow: $box-shadow-lg;
        box-shadow: 2px 2px 8px rgba(1, 1, 1, 0.1),8px 4px 30px rgba(1, 1, 1, 0.12);
        padding: 20px;

        @media (min-width: map-get($grid-breakpoints, "lg")) {
            width: 80%;
            display: flex;
            align-items: center;
            padding: 30px 50px 30px 30px;
        }
        @media (min-width: map-get($grid-breakpoints, "xl")) {
            width: 60%;
        }
        .fraud-top{
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            @media (min-width: map-get($grid-breakpoints, "lg")) {
                margin-bottom: 0px;
            }
        }

        h5{
            display: flex;
            align-items: center;
            color: $secondary-700;
            font-weight: 500;
            white-space:nowrap;
            margin-right: auto;
            i{
                margin: 8px;
                svg{
                    width: 28px;
                    height: 28px;
                    fill: $secondary;
                    @media (min-width: map-get($grid-breakpoints, "lg")) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            @media (min-width: map-get($grid-breakpoints, "lg")) {
                flex-direction: column;
                margin-right: 20px;
            }
        }
        h6{
            line-height: 160%;
        }
        button{

            height:40px;
            width: 40px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            svg{
                fill:$gray-500;
            }
            @media (min-width: map-get($grid-breakpoints, "lg")) {
                position: absolute;
                right: 4px;
                top: 4px;
            }

            &:hover{
                svg{
                    fill:$primary-400;
                }
            }

        }
    }
}