main.article{
    padding: calc($body-py * 0.5)  0 0 0;
    background-color: $white;

    .article-wrapper{
        padding-top: calc($body-py * 0.4);
        padding-bottom: calc($body-py * 1);
    }

    h1{
        letter-spacing: 0px;
        text-indent: 0px;
        color: $primary-700;
    }

    .embed-wrapper{
        height: 200px;
        margin: 28px 0;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            height: 480px;
        }
        iframe{
            border-radius: $border-radius-lg;
        }

    }
    h5{
       margin-top: 24px;
       line-height: 160%;
    }
    .line{
        margin: 0;
    }
}