main.buy{
    overflow-x: hidden;
    overflow-y: hidden;
    h1{
        text-align: center;
        scroll-margin: 80px;
    }
    h2{
        text-align: center;
        // margin-bottom: 4px;
    }
    h5{
        text-align: center;

    }
    .price-group{
        background: $linear3;
        padding: $body-py 0;

        .tabs{
            padding: 6px 2px;
            background: $primary-50;
            background: rgba($primary-50, .6);
            backdrop-filter: blur(50px);
            -moz-backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
            display: flex;
            align-items: center;
            width: fit-content;
            margin: calc($body-py * 0.4) auto;
            border-radius: $border-radius-lg;
            box-shadow: $box-shadow-sm;
            position: sticky;
            top: 72px;
            z-index: 10;
            .tab-item{
                padding: 12px 16px;
                border-radius: $border-radius;
                opacity: 0.6;
                margin: 0 4px;
                &:hover{
                    opacity: 1;
                }

                &.click{
                    background-color: $white;
                    border-radius: $border-radius-sm;
                    opacity: 1;
                }
            }
        }
        .plan-wrapper{
            $plan-radius:$border-radius-2xl;
            border-radius: $plan-radius;

            @media (min-width: map-get($grid-breakpoints, "lg")) {
                display: flex;
                align-items: center;
                background: linear-gradient($white,rgba($white,0.8));
                box-shadow: $box-shadow-m;
            }

            > li{
                display: flex;
                flex-direction: column;
                padding: $box-padding ;
                background: linear-gradient($white,rgba($white,0.8));
                margin-bottom: 20px;
                border-radius: $plan-radius;
                position: relative;
                box-shadow: $box-shadow-m;
                @media (min-width: map-get($grid-breakpoints, "lg")) {
                    width: 100%;
                    margin: 0;
                    background-color: transparent;
                    box-shadow: unset;
                }
                &.recommendation{
                    // background:$white ;
                    z-index: 2;
                    h3{
                        color: $primary;
                    }
                    &:after{
                        $border:3px ;
                        content: "";
                        top: -$border;
                        left: -$border;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 2px double transparent ;
                        border-image-slice: 1;
                        border-width: $border;
                        background-image: linear-gradient(white, white), linear-gradient(to right,$primary-300, $primary-500);
                        border-radius: $plan-radius;
                        box-sizing: content-box;
                        background-origin: border-box;
                        background-clip: content-box, border-box;
                        z-index: -1;
                        @media (min-width: map-get($grid-breakpoints, "lg")) {
                            border-radius: 4px $plan-radius $plan-radius 4px;
                        }

                    }
                    &::before{
                        content: "投資首選";
                        position: absolute;
                        right: calc($box-padding / 1.5);
                        top: -6px;
                        background: url("/assets/images/recommendation.png") , #fde68a;
                        color: #54411F;
                        background-repeat: no-repeat;
                        background-position: center 8px;
                        background-size: 34px 33px;
                        padding: 44px 12px 8px 12px ;
                        border-radius: 2px 4px 12px 12px;
                        box-shadow: $box-shadow-sm;
                        @include small;
                        @media (min-width: map-get($grid-breakpoints, "lg")) {
                            background-size: 44px 43px;
                            background-position: center 10px;
                            padding: 56px 14px 8px 14px ;
                            border-radius: 2px 4px 14px 14px;
                            right: calc($box-padding / 1.2);
                            @include p;
                        }

                    }
                }
                .tag-sale{
                    width: fit-content;
                    padding: 4px 8px ;
                    background-color: $red;
                    color: $white;
                    border-radius: $border-radius-sm;
                    margin: 0px 0 12px 0;
                    @include p;
                }
                h3{
                    color: $primary-700;
                    margin-bottom: 16px;
                    font-weight: 600;
                    letter-spacing: 0.8px;
                    text-indent: 0.8px;
                }
                .price{
                    display: flex;
                    align-items: end;
                    flex-wrap: wrap;
                }
                h2{
                    line-height: 100%;
                    font-weight: 600;
                    margin-right: 12px;

                    span{
                        @include h6;
                        line-height: 100%;
                        letter-spacing: 0px;
                        text-indent: 0px;
                        margin-left: 4px;
                        font-weight: 400;
                        opacity: 0.8;
                    }
                }
                h4{
                    margin: 8px 0px 2px 0 ;
                    @include h5;
                    line-height: 100%;
                    font-weight: 500;
                    span{
                      @include p;
                      line-height: 100%;
                      font-weight: 400;
                    }

                }
                button{
                    @include btn-s;
                    width: 100%;

                    a{
                        border-radius: $border-radius-lg;
                        width: 100%;
                        @include h5;
                        padding: 12px 16px;


                    }
                    @media (min-width: map-get($grid-breakpoints, "lg")) {
                        width: 100%;
                        a{
                            width: 100%;
                            padding: 16px 16px;
                        }
                    }
                }
                .feature{
                    width: 100%;
                    padding: 0 4px ;
                    margin: 12px 0;
                    @media (min-width: map-get($grid-breakpoints, "md")) {
                        margin: 20px 0;
                    }
                    li{
                        @include p;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 4px 0;
                        svg{
                            margin-right: 8px;
                            fill: $primary-300;
                            width: 14px;
                            height: 14px;
                        }
                        .more-comparison{
                            @include p;
                            color: $primary;
                            opacity: 0.8;
                            &:hover{
                                opacity: 1;
                            }
                        }
                        @media (min-width: map-get($grid-breakpoints, "sm")) {
                            padding: 6px 0;
                            @include h6;
                            svg{
                                margin-right: 12px;
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }
        .added-value-wrapper{
            --bs-gutter-x: 20px;
            padding: $body-py 0 0 ;
            justify-content: center;
            button.phone{
                @include btn-m;
                width: 100%;
                margin: calc($body-py * 0.2) 0 calc($body-py * 0.3);
                a{
                    @include h5;
                    margin: 0 auto;
                    background: $secondary;
                    border-radius: $border-radius-lg;
                    color: $secondary-900;
                    width: 100%;
                    @media (min-width: map-get($grid-breakpoints, "lg")) {
                    min-width: 240px;
                    width: fit-content;
                    }
                    padding: 16px;
                    line-height: 100%;

                    i{
                        margin-right: 8px;
                        margin-left: -4px;

                        svg{
                            width: 24px;
                            height: 24px;
                            fill: $secondary-900;
                        }
                    }
                }
            }
            .added-value-card{
                border-radius: $border-radius-xl;
                background: $white;
                background: linear-gradient($white,rgba($white,0.8));
                padding: calc($box-padding * 0.7);
                // margin: 8px 0;
                box-shadow: $box-shadow-m;
                display: flex;
                align-items: stretch;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                h5{
                    font-weight: 600;
                    text-align: left;
                    margin-bottom: 0;
                    span{
                        @include p;
                        font-weight: 400;
                    }
                    &.price{
                        @include h4;
                        letter-spacing: 0px;
                        text-indent: 0px;
                        color: $primary;
                    }
                }
                h6{
                    color: $gray-800;
                    text-align: left;
                    margin-bottom: 0;
                }
                .card-top{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 8px;

                    .title{
                        display: flex;
                        align-items: center;
                        margin-right: auto;
                        i{

                            svg{
                                display: none;
                                @media (min-width: map-get($grid-breakpoints, "md")) {
                                    display: block;
                                    fill: $secondary;
                                    width: 24px;
                                    height: 24px;
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                    p{
                        margin: 8px 0 0 0;
                        color: $gray-700;
                    }
                }
                .card-bottom{
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    p{
                        color: $gray-600;
                    }
                    .plan{
                        margin-top: 16px;
                        margin-bottom: 4px;
                        margin-right: auto;
                        ul{
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            li{
                                @include p ;
                                svg{
                                    width: 14px;
                                    height: 14px;
                                    fill: $primary-300;
                                    margin-right: 4px;
                                    &.included{
                                       fill: $gray-500;
                                    }
                                }
                                &.included{
                                        color: $gray-600;
                                        svg{
                                            fill: $gray-400;
                                        }
                                    }
                                display: flex;
                                align-items: center;
                                color: $primary-700;
                                margin: 6px 14px 6px 0;
                                @media (min-width: map-get($grid-breakpoints, "lg")) {
                                  margin: 4px 14px 0px 0;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    .comparison{
        padding: $body-py 0;
        background: $white;

        h2{
            margin-bottom: 20px;
        }

        .table-wrapper{
            --folat-w: 174px;
            @media (min-width: map-get($grid-breakpoints, "md")) {
                --folat-w: 360px;
            }
            $folat-w:  var(--folat-w);

            li{
                padding: 0px;
                min-height: 60px;
                line-height: 150%;
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgba($gray-200, 0.5);
                font-weight: 400;
                position: relative;
                @media (min-width: map-get($grid-breakpoints, "md")) {
                   padding: 0 8px;
                }
                @media (min-width: map-get($grid-breakpoints, "xl")) {
                   padding: 0 8px;
                   @include h5;
                }

                &.th-1st{
                    border-bottom: unset;
                    font-weight: 400;
                    color: $gray-700;
                }
                &.group-separate{
                    border-bottom: unset;
                    @include h6 ;
                    font-weight: 400;
                    color: $gray-600;
                    min-height: 48px;
                    align-items: flex-end;
                    padding-bottom: 4px;
                }

                .info-btn{
                    margin-left: 8px;
                    padding: 4px;
                    border-radius: 20px;
                    background-color: $gray-400;
                    svg{
                        height: 10px;
                        width: 10px;
                        fill: $white;
                    }
                    position: absolute;
                    right: 8px;
                    @media (min-width: map-get($grid-breakpoints, "md")) {
                        position: relative;
                        right: 0px;
                    }
                }
            }
            .table-l{
                float: left;
                width: $folat-w;
                border-right: 1px solid $gray-100;
                box-shadow: 10px 0px 10px -4px  rgba($gray-400, .2);
                @media (min-width: map-get($grid-breakpoints, "md")) {
                    border-right: none;
                    box-shadow: 12px 0px 12px -4px  rgba($gray-400, .12);

                }
                li{
                    font-weight: 500;
                    padding: 0px 12px 0 0;
                    @media (min-width: map-get($grid-breakpoints, "md")) {
                        padding: 0 8px;
                    }
                    &.group-separate{
                        @include h6 ;
                        font-weight: 400;
                        letter-spacing: 0.5px;
                        text-indent: 0.5px;
                    }
                }
            }
            .table-r{
                display: flex;
                margin-left: $folat-w;
                overflow-x: scroll;

                .col-table {
                    width: 100%;
                    li{
                        min-width:92px ;
                        justify-content: center;
                        @media (min-width: map-get($grid-breakpoints, "md")) {
                            width: 100%;
                        }
                        svg{
                            fill:$primary-500;

                            .cls-no{
                                fill:$gray-500;
                            }
                        }
                    }
                }
            }
        }
    }
    .faq-list{
        padding: calc(var(--body-y)* 1) 0;
    }
    .fixed-group{
        position: fixed;
        bottom: 4px;
        right: 0px;
        z-index: 10;
        display: flex;
        width: 100%;
        padding: 0px 12px;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            width: unset;
            flex-direction: column;
            bottom: 60px;
            right: 12px;
            padding: 0;

        }
        button{
            margin: 8px 0px;
            background-color: transparent;
            width: 100%;
            padding: 0 4px;
            @media (min-width: map-get($grid-breakpoints, "md")) {
                 margin: 6px 0px;

            }
            a{
                width: 100%;
                height:52px;
                background-color: $white;
                box-shadow: $box-shadow-m;
                border-radius: $border-radius-lg;
                @include h6;
                font-weight: 500;
                letter-spacing: -0.2px;
                text-indent: -0.2px;
                color: $secondary-800;
                backdrop-filter: blur(10px);
                -moz-backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);


                @media (min-width: map-get($grid-breakpoints, "md")) {
                    @include small;
                    font-weight: 400;
                    letter-spacing: -0.2px;
                    text-indent: -0.2px;
                    padding: 0;
                    width: 70px;
                    height: 70px;
                    flex-direction: column;
                    border-radius: $border-radius-xl ;

                }
                @media (min-width: map-get($grid-breakpoints, "xxl")) {
                    width: 80px;
                    height: 80px;
                }

                i{
                    svg{
                        margin: 0px 8px 0 -4px ;
                        fill: $secondary-800;
                        width: 22px;
                        height: 22px;
                        @media (min-width: map-get($grid-breakpoints, "md")) {
                            margin: 4px 0;
                        }
                    }
                }

                &.plan-btn{
                    background: rgba($secondary, 0.9);
                }
                &.add-value-btn{
                    color: $green-700;
                    border: 1px solid $gray-100;
                    svg{
                        fill: $green-700;
                    }
                }
                &:hover{
                    transform: scale(1.06);
                }
            }
        }
    }
}