section.download{
    padding: calc($body-py) 0 0 0;
    background:radial-gradient(circle farthest-corner at left, $primary,$primary-500 48%,$primary-700);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    @media (min-width: map-get($grid-breakpoints, "md")) {
        padding: calc($body-py) 0;
        min-height: 80vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            align-items: flex-start;
            padding-bottom: 30px;
        }
    }
    img.kv-pc{
        padding-top: 20px;
        left: 0%;
        width: 100%;
        bottom: 0;
        object-fit: contain;
        object-position: center bottom;

        @media (min-width: map-get($grid-breakpoints, "md")) {
            position: absolute;
            padding-top: 0px;
            left: 48%;
            width: 85%;
            height: 90%;
        }
        @media (min-width: map-get($grid-breakpoints, "lg")) {
            left: 40%;
            height: 95%;
        }
    }
    h1{
        margin-bottom: 12px;
        color: $white;
        text-align: center;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            color: $white;
            margin-bottom: 16px;
            text-align: left;
        }
    }
    small{
        display: block;
        color: $white;
        margin: 4px 0;
        color: $gray-300;
        text-align: center;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            text-align: left;
        }
    }
    h4{
        @include h5;
        color: $white;
        font-weight: 500;
        margin: 32px 0 12px;
        text-align: center;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            @include h4;
            margin: 40px 0 16px;
            text-align: left;
        }
        @media (min-width: map-get($grid-breakpoints, "xxl")) {
            margin: 60px 0 16px;

        }
    }
    button{
        padding: 0;
        background-color: unset;
        margin-bottom: 12px;
        .btn-download{
            border-radius: $border-radius-lg;
            padding: 8px 12px;
            svg{
                @media (min-width: map-get($grid-breakpoints, "sm")) {
                    height: 44px;
                }
            }

            &.download-ios{
                margin-right: 8px;
                @media (min-width: map-get($grid-breakpoints, "sm")) {
                    margin-right: 12px;
                }
            }
            &.download-windows{
                min-width: 200px;

                @media (min-width: map-get($grid-breakpoints, "sm")) {
                    width: unset;
                }

                svg{
                    height: 50px;
                    @media (min-width: map-get($grid-breakpoints, "sm")) {
                        height: 54px;
                    }
                }
            }
        }
    }
}
section.download-steps{
    padding: calc($body-py * 0.6) 0 calc($body-py * 0.8 ) 0;
    position: relative;
    background-color: $bgc-blue;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 22px;
        border-radius: 20px 20px 0 0;
        left: 0;
        top: -20px;
        background-color: $bgc-blue;
    }
    @media (min-width: map-get($grid-breakpoints, "sm")) {

        &::after{
            height: 32px;
            top: -30px;
            border-radius: 30px 30px 0 0;

        }
    }
    .row{
            --bs-gutter-x: 1.4rem;
    }
    h3{

        @media (min-width: map-get($grid-breakpoints, "sm")) {
            margin-top: 0px;
        }
    }
    .step-body{
        padding: 20px;
        height: calc(100%);
        border-radius: $border-radius-2xl;
        background: $white;
        position: relative;
        box-shadow: $box-shadow-sm;
        @media (min-width: map-get($grid-breakpoints, "sm")) {
            padding: 24px;
        }


        h4{
            margin-bottom: 12px;
            font-weight: 600;
            width: unset;
            text-align: center;
            color: $primary;

        }
        h6{
            margin-bottom: 150px;
            span{
                font-weight: 600;
                color: $primary-700;
            }
        }
        .step-img{
            position: absolute;
            bottom: 32px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 130px;
            width: 100%;
            padding: 20px 0 0 0;
            @media (min-width: map-get($grid-breakpoints, "sm")) {
                 bottom: 36px;
            }
        }
        button{
            padding: 0;
            svg{
                height: 48px;
            }
        }
        img{
            margin: 0 auto;
            height: 136px;
            object-fit: contain;
            object-position: center center;
            border-radius: 8px;
        }
    }

}

section.download-info{
    padding: calc($body-py * 0.8) 0 calc($body-py * 0.8) 0;
    background-color: $bgc;

    h4{
        margin-bottom: 16px;
        font-weight: 500;
    }
    ul{
        margin-left: 16px;
        li{
            margin: 12px 0;
            line-height: 150%;
            list-style: disc;
            @include p;
            ul{
                margin-left: 20px;
                li{
                    list-style: circle;
                    @include p;
                }
            }
        }
    }
}
section.release-notes{
    padding: calc($body-py * 0.8) 0 ;
    background:$white ;
}
.release-card{
    ul{
        padding-left: 28px;
        padding-bottom: 20px;
        li{
            list-style: decimal;
            padding: 4px;
            line-height: 150%;
        }
    }
    .title{
        > div{
            padding: 12px 0;
            @media (min-width: map-get($grid-breakpoints, "lg")) {
                display: flex;
                align-items: center;
            }

            .release{
                margin-right: 8px;
                color: $primary;
                font-weight: 600;
                @media (min-width: map-get($grid-breakpoints, "lg")) {
                    min-width: 80px;
                }

            }
            .release-title{
                font-weight: 500;
                @media (min-width: map-get($grid-breakpoints, "lg")) {
                    @include h5;
                }
                @media (min-width: map-get($grid-breakpoints, "xxl")) {
                    @include h4;
                }
            }

        }
    }

}




footer{
    margin-top: 0;
}