.teacher{
    .kv{
        .kv-banner{
            height: 220px;
            width: 100%;
            background-color: $primary;
            background: url("/assets/images/股市司令高段技術分析50堂-m.jpg");
            background-size: cover;
            background-position: center;
            @media (min-width: map-get($grid-breakpoints, "md")) {
                height: 380px;
                background: url("/assets/images/股市司令高段技術分析50堂-pc.jpg");
                background-size: cover;
                background-position: center;
            }
            @media (min-width: map-get($grid-breakpoints, "xl")) {
                height: 420px;
            }
            h1{
                position: relative;
                z-index: -1;
            }
        }
    }
    .tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bgc;
        padding: 8px 0;
        position: sticky;
        margin: 8px 0 16px 0;
        top: 58px;
        li{
            a{
                padding: 8px;
                display: flex;
                align-items: center;
                border-radius: $border-radius-lg;
                font-weight: 500;
                color: $primary-700;
                @include h6;
                @media (min-width: map-get($grid-breakpoints, "md")) {
                    @include h5;
                    padding: 10px 16px;
                }
                &:hover{
                    background-color: $gray-200;
                }
            }
        }
    }
    .embed-video{
        padding: 16px 0 20px 0;
        iframe{
            border-radius: $border-radius-xl;
            height: 180px;
            width: 100%;
            box-shadow: $box-shadow-lg;
            @media (min-width: map-get($grid-breakpoints, "md")) {
                height: 440px;
            }
        }

    }
    h2{
        display: flex;
        align-items: center;
        scroll-behavior: smooth;
        scroll-margin: 120px;
        .badge{
                background-color: $primary-400;
                margin-left: 6px;
                @include small;
                font-weight: 500;
                border-radius: $border-radius-lg;
            }

        svg{
            width: 36px;
            height: 36px;
            margin-right: 12px;
            fill: $primary;
        }
    }
    h4{
        font-weight: 600;
        @include h5;
        margin: 4px 0;
    }
    .play-list{
        margin-bottom: calc( $body-py * 0.6);
        .video-list{
            margin-bottom: calc( $body-py * 0.3);

            li{
                padding: 2px var(--bs-gutter-x / 2);

                > div{
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                    box-shadow: $card-box-shadow;

                    svg{
                        margin: 0 12px 0 2px;
                    }
                }

            }
        }
        }
    .info-group{

        .info-box{
            padding: 20px;
            margin-bottom: 12px;
            // background: $white;
            border-radius: $border-radius-lg;
            box-shadow: $card-box-shadow;
            border:1px solid $gray-300 ;
            h5{
                font-weight: 600;
                margin-bottom: 8px;

            }
        }
    }

    .fixd.subscribe{
        position: fixed;
        z-index: 20;
        right: 12px;
        bottom: 12px;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            right: 20px;
            bottom: 20px;
        }

        a{
            padding: 8px 24px 8px 8px;
            border-radius: $border-radius-xl;
            box-shadow: $box-shadow-m;
            display: flex;
            align-items: center;
            color: $white;
            background: red;
            transition: .25s;
            h5{
                font-weight: 500;
                line-height: 100%;
                margin-top: 4px;
            }
            &:hover{
                transform: scale(1.04);
            }

        }

        svg{

            width: 60px;
            height: 60px;
            margin-right: 4px;
            .cls-white{
                fill: $white;
            }
            .cls-yt {
                fill: red;
            }
        }

    }

}